<nav id="navbar" class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-nav">
    <div class="responsive-nav">
      <div class="logo">
        <%= image_tag "frankie-logo2.png" %>
       </div>
     <div class="menu">
       <h4>menu</h4>
     </div>
    </div>

    <nav class="white">
        <div class="logo">
        <%= image_tag "frankie-logo2.png" %>
        </div>
        <ul>
            <li><%= link_to 'Expierciences', experience_path %></li>
            <li><%= link_to 'Certifications', certification_path %></li>
            <li><%= link_to 'Skills', skills_path %></li>
            <li><%= link_to 'Expierciences', experience_path %></li>
<!--

            <li><a href="#section-3">Certifications</a></li>
            <li><a href="#section-2">Skills</a></li>
            <li><a href="#section-4">Interest</a></li> -->
           <li><%= link_to "Contact", contact_path %></li>
        </ul>
      </nav>

  </div>
</nav>

